// -------------------------------------------------------------- //
// Primary breakpoints ------------------------------------------ //
// -------------------------------------------------------------- //
$bp-small:  600px;
$bp-medium: 767px;
$bp-large:  992px;
$bp-xlarge: 1200px;
